{% extends 'login/layout.html' %}

{% block content %}
    {% if checker == 0 %}
        <h6><em><strong>access token:</strong></em> {{access}}</h6>
        <h6><em><strong>refresh token:</strong></em> {{refresh}}</h6>
        <h6><em><strong>user length:</strong></em> {{length}}</h6>
        <ul class="collection">
        </ul>
    {% else %}
        <h6><em><strong>details:</strong></em> {{detail}}</h6>
        <h6><em><strong>user length:</strong></em> {{length}}</h6>
        <ul class="collection">
        </ul>
    {% endif %}
{% endblock %}